@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Enter your details to calculate premium:</h2>

        <form action="/hello">
            <label>Name: </label>
            <input type="text" id="txtName" name="Name"  />
            <span id="result"></span>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $("#txtName").keyup(function () {
            if (this.value) {
                $.getJSON("/hello/" + this.value)
                    .then(function (r) {
                        $("#result").html(r.result);
                    });
            } else {
                $("#result").html("");
            }
        });
    </script>
}
